<div class="pin-canvas" *ngIf="chip as c">
  <div class="image-wrap">
    <ng-container *ngIf="isSvg; else rasterImage">
      <div class="svg-host" [innerHTML]="svgContent"></div>
    </ng-container>
    <ng-template #rasterImage>
      <img [src]="'assets/chips/' + c.chipId + '/' + c.image" [alt]="c.name" />
    </ng-template>
    <svg
      #overlay
      class="overlay"
      [attr.viewBox]="'0 0 ' + c.viewBox.width + ' ' + c.viewBox.height"
      (click)="onOverlayClick($event)"
    >
      <rect x="0" y="0" [attr.width]="c.viewBox.width" [attr.height]="c.viewBox.height" fill="transparent"></rect>
      <ng-container *ngFor="let p of c.pins">
        <ng-container *ngIf="getHitArea(p) as hit">
          <rect
            class="pin"
            [class.selected]="p.id === selectedPinId"
            [class.editing]="editorEnabled && editingPin?.id === p.id"
            [attr.x]="hit.x"
            [attr.y]="hit.y"
            [attr.width]="hit.width"
            [attr.height]="hit.height"
            rx="4"
            ry="4"
            (click)="!editorEnabled && pinClick.emit(p)"
            (mousedown)="onPinMouseDown($event, p)"
          ></rect>
          <ng-container *ngIf="editorEnabled">
            <!-- Corner handles -->
            <rect
              class="resize-handle resize-nw"
              [attr.x]="hit.x - 4"
              [attr.y]="hit.y - 4"
              width="8"
              height="8"
              (mousedown)="onResizeHandleMouseDown($event, p, 'resize-nw')"
            ></rect>
            <rect
              class="resize-handle resize-ne"
              [attr.x]="hit.x + hit.width - 4"
              [attr.y]="hit.y - 4"
              width="8"
              height="8"
              (mousedown)="onResizeHandleMouseDown($event, p, 'resize-ne')"
            ></rect>
            <rect
              class="resize-handle resize-sw"
              [attr.x]="hit.x - 4"
              [attr.y]="hit.y + hit.height - 4"
              width="8"
              height="8"
              (mousedown)="onResizeHandleMouseDown($event, p, 'resize-sw')"
            ></rect>
            <rect
              class="resize-handle resize-se"
              [attr.x]="hit.x + hit.width - 4"
              [attr.y]="hit.y + hit.height - 4"
              width="8"
              height="8"
              (mousedown)="onResizeHandleMouseDown($event, p, 'resize-se')"
            ></rect>
            <!-- Edge handles -->
            <rect
              class="resize-handle resize-n"
              [attr.x]="hit.x + hit.width / 2 - 4"
              [attr.y]="hit.y - 4"
              width="8"
              height="8"
              (mousedown)="onResizeHandleMouseDown($event, p, 'resize-n')"
            ></rect>
            <rect
              class="resize-handle resize-s"
              [attr.x]="hit.x + hit.width / 2 - 4"
              [attr.y]="hit.y + hit.height - 4"
              width="8"
              height="8"
              (mousedown)="onResizeHandleMouseDown($event, p, 'resize-s')"
            ></rect>
            <rect
              class="resize-handle resize-w"
              [attr.x]="hit.x - 4"
              [attr.y]="hit.y + hit.height / 2 - 4"
              width="8"
              height="8"
              (mousedown)="onResizeHandleMouseDown($event, p, 'resize-w')"
            ></rect>
            <rect
              class="resize-handle resize-e"
              [attr.x]="hit.x + hit.width - 4"
              [attr.y]="hit.y + hit.height / 2 - 4"
              width="8"
              height="8"
              (mousedown)="onResizeHandleMouseDown($event, p, 'resize-e')"
            ></rect>
          </ng-container>
        </ng-container>
      </ng-container>
    </svg>
  </div>
</div>

