<div class="pin-canvas" *ngIf="chip as c">
  <div class="image-wrap">
    <img [src]="'assets/chips/' + c.chipId + '/' + c.image" [alt]="c.name" />
    <svg #overlay class="overlay" [attr.viewBox]="'0 0 ' + c.viewBox.width + ' ' + c.viewBox.height" (click)="onOverlayClick($event)">
      <rect x="0" y="0" [attr.width]="c.viewBox.width" [attr.height]="c.viewBox.height" fill="transparent"></rect>
      <g>
        <circle
          *ngFor="let p of c.pins"
          [attr.cx]="p.position.x"
          [attr.cy]="p.position.y"
          r="8"
          [class.selected]="p.id === selectedPinId"
          (click)="pinClick.emit(p)"
        ></circle>
      </g>
    </svg>
  </div>
</div>

